apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  type: LoadBalancer
  selector:
    app: user-service
  ports:
    - port: 8888
      targetPort: 8888
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: grid-user-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8888
        env:
        
        - name: KAFKA_BROKER
          value: "grid-kafka:29092"
---
apiVersion: v1
kind: Service
metadata:
  name: post-service
spec:
  type: LoadBalancer
  selector:
    app: post-service
  ports:
    - port: 8889
      targetPort: 8889
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: post-service
  template:
    metadata:
      labels:
        app: post-service
    spec:
      containers:
      - name: post-service
        image: grid-post-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8889
        env:
        
        - name: KAFKA_BROKER
          value: "grid-kafka:29092"
